html, body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 850px) {
    .mainContainer{
        max-width: 1440px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        z-index: 900;
        /* background-color: white; */
    }
    .header{
        width: 90%;
        margin: auto;
        padding: 30px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 20px;
        z-index: 900;
    }
    .header p {
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
        z-index: 900;
        display: none;
    }
    .header img{
        width: 150px;
        z-index: 900;
    }
    .sliderDiv{
        width: 90%;
        height: 500px;
        z-index: 900;
        margin: auto;
    }
    .sliderImage1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        max-width: 1300px;
        height: 490px;
        background-size: cover;
        opacity: 1;
        transition: 1s;
        position: absolute;
        z-index: 900;
        margin: auto;

    }
    .sliderImage2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        max-width: 1300px;
        margin: auto;
        height: 490px;
        background-size: cover;
        opacity: 0;
        transition: 1s;
        position: absolute;
        z-index: 900;
    }
    .sliderDiv h1{
        z-index: 5;
        white-space: nowrap;
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: 4px;
        visibility: inherit;
        transition: none 0s ease 0s;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
        margin-bottom: 20px;
        z-index: 900;
    }
    .sliderDiv p{
        z-index: 6;
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        letter-spacing: 0px;
        visibility: inherit;
        transition: none 0s ease 0s;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        opacity: 1;
        padding-left: 10px;
        padding-right: 10px;
        /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); */
        /* transform-origin: 50% 50% 0px; */
        z-index: 900;
    }
    .sliderCircleDiv{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 90%;
        z-index: 900;
    }
    .sliderCircle1{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 900;
    }
    .sliderCircle2{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(255,255,255, 0.3);
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 900;
    }
    .afterSlider{
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 900;
        margin: auto;
        margin-top: 20px;
    }
    .afterSlider h1{
        font-size: 24px;
        margin-bottom: 0;
        z-index: 900;
    }
    .afterSlider p{
        font-size: 16px;
        line-height: 30px;
        margin-top: 19px;
        width: 100%;
        color: #666;
        font-weight: 300;
        text-align: center;
        z-index: 900;
        padding-left: 10px;
        padding-right: 10px;
    }
    .imagesViewDiv{
        width: 90%;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 20px;
        z-index: 900;
        margin: auto;
    }
    .bigImageDiv{
        height: 450px;
        width: 100%;
        overflow: hidden;
        z-index: 900;
        padding-top: 20px;
    }
    .bigImage{
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
        z-index: 900;
    }
    .smallImageDiv{
        height: 410px;
        width: 100%;
        overflow: hidden;
        z-index: 900;
        padding-top: 20px;
    }
    .smallImage{
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
        z-index: 900;
    }
    .content{
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
        z-index: 900;
    }
    .content h3{
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 16px;
        z-index: 900;
    }
    .content p{
        letter-spacing: 1px;
        font-size: 10px;
        margin: 0;
        z-index: 900;
    }
    .footerMain{
        height: 100%;
        width: 100%;
        background-color: #181818;
        top: 5px;
        z-index: 600;
        padding-bottom: 20px;
    }
    .footerFlexDiv{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        /* width: 95%; */
        /* height: 200px; */
        flex: 1;
    }
    .footerFlexDiv div{
        width: 100% !important;
        align-items: center;
    }
    .inputtDiv{
        text-align: center;
    }
}

@media only screen and (min-width: 850px) {
    .mainContainer{
        max-width: 1440px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        z-index: 900;
        /* background-color: white; */
    }
    .header{
        width: 90%;
        margin: auto;
        padding: 30px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 20px;
        z-index: 900;
    }
    .header p {
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
        z-index: 900;
    }
    .header img{
        width: 150px;
        z-index: 900;
    }
    .sliderDiv{
        width: 90%;
        height: 500px;
        z-index: 900;
        margin: auto;
    }
    .sliderImage1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        max-width: 1300px;
        height: 490px;
        background-size: cover;
        opacity: 1;
        transition: 1s;
        position: absolute;
        z-index: 900;
        margin: auto;

    }
    .sliderImage2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        max-width: 1300px;
        margin: auto;
        height: 490px;
        background-size: cover;
        opacity: 0;
        transition: 1s;
        position: absolute;
        z-index: 900;
    }
    .sliderDiv h1{
        z-index: 5;
        white-space: nowrap;
        font-size: 60px;
        line-height: 81px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: 4px;
        visibility: inherit;
        transition: none 0s ease 0s;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
        margin-bottom: 20px;
        z-index: 900;
    }
    .sliderDiv p{
        z-index: 6;
        white-space: nowrap;
        font-size: 20px;
        line-height: 22px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        letter-spacing: 0px;
        visibility: inherit;
        transition: none 0s ease 0s;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
        z-index: 900;
    }
    .sliderCircleDiv{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 90%;
        z-index: 900;
    }
    .sliderCircle1{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 900;
    }
    .sliderCircle2{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(255,255,255, 0.3);
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 900;
    }
    .afterSlider{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }
    .afterSlider h1{
        font-size: 40px;
        margin-bottom: 0;
        z-index: 900;
    }
    .afterSlider p{
        font-size: 20px;
        line-height: 30px;
        margin-top: 19px;
        color: #666;
        font-weight: 300;
        text-align: center;
        z-index: 900;
    }
    .imagesViewDiv{
        width: 90%;
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 80px;
        z-index: 900;
        margin: auto;
    }
    .bigImageDiv{
        height: 450px;
        width: 380px;
        overflow: hidden;
        z-index: 900;
        padding-top: 20px;
    }
    .bigImage{
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
        z-index: 900;
    }
    .smallImageDiv{
        height: 450px;
        width: 380px;
        overflow: hidden;
        z-index: 900;
    }
    .smallImage{
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
        z-index: 900;
    }
    .content{
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
        z-index: 900;
    }
    .content h3{
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 16px;
        z-index: 900;
    }
    .content p{
        letter-spacing: 1px;
        font-size: 10px;
        margin: 0;
        z-index: 900;
    }
    .footerMain{
        height: 70vh;
        width: 100%;
        background-color: #181818;
        top: 5px;
        z-index: 600;
    }
    .footerFlexDiv{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        /* width: 95%; */
        /* height: 200px; */
        flex: 1;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
    .largScreenPlus{
        margin-top: 50px;
    }
    .largeImageMinus{
        margin-top: -50px;
    }
}

@media only screen and (min-width: 1310px) {
    .mainContainer{
        max-width: 1440px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        z-index: 900;
        /* background-color: white; */
    }
    .header{
        width: 90%;
        margin: auto;
        padding: 30px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 20px;
        z-index: 900;
    }
    .header p {
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
        z-index: 900;
    }
    .header img{
        width: 150px;
        z-index: 900;
    }
    .sliderDiv{
        width: 90%;
        height: 500px;
        z-index: 900;
        margin: auto;
    }
    .sliderImage1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        max-width: 1300px;
        height: 490px;
        background-size: cover;
        opacity: 1;
        transition: 1s;
        position: absolute;
        z-index: 900;
        margin: auto;

    }
    .sliderImage2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        max-width: 1300px;
        margin: auto;
        height: 490px;
        background-size: cover;
        opacity: 0;
        transition: 1s;
        position: absolute;
        z-index: 900;
    }
    .sliderDiv h1{
        z-index: 5;
        white-space: nowrap;
        font-size: 60px;
        line-height: 81px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        letter-spacing: 4px;
        visibility: inherit;
        transition: none 0s ease 0s;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
        margin-bottom: 20px;
        z-index: 900;
    }
    .sliderDiv p{
        z-index: 6;
        white-space: nowrap;
        font-size: 20px;
        line-height: 22px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        letter-spacing: 0px;
        visibility: inherit;
        transition: none 0s ease 0s;
        text-align: center;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
        z-index: 900;
    }
    .sliderCircleDiv{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 90%;
        z-index: 900;
    }
    .sliderCircle1{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 900;
    }
    .sliderCircle2{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(255,255,255, 0.3);
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        z-index: 900;
    }
    .afterSlider{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }
    .afterSlider h1{
        font-size: 40px;
        margin-bottom: 0;
        z-index: 900;
    }
    .afterSlider p{
        font-size: 20px;
        line-height: 30px;
        margin-top: 19px;
        color: #666;
        font-weight: 300;
        text-align: center;
        z-index: 900;
    }
    .imagesViewDiv{
        width: 90%;
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 80px;
        z-index: 900;
        margin: auto;
    }
    .bigImageDiv{
        height: 450px;
        width: 380px;
        overflow: hidden;
        z-index: 900;
    }
    .bigImage{
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
        z-index: 900;
    }
    .smallImageDiv{
        height: 410px;
        width: 380px;
        overflow: hidden;
        z-index: 900;
    }
    .smallImage{
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s;
        z-index: 900;
    }
    .content{
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
        z-index: 900;
    }
    .content h3{
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 16px;
        z-index: 900;
    }
    .content p{
        letter-spacing: 1px;
        font-size: 10px;
        margin: 0;
        z-index: 900;
    }
    .footerMain{
        height: 70vh;
        width: 100%;
        background-color: #181818;
        top: 5px;
        z-index: 600;
    }
    .footerFlexDiv{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        /* width: 95%; */
        /* height: 200px; */
        flex: 1;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
    .largScreenPlus{
        margin-top: 50px;
    }
    .largeImageMinus{
        margin-top: -50px;
    }
}